@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Open Source Sans';
	src: url('/fonts/sourcesans.ttf');
}

@font-face {
	font-family: 'Open Source Sans';
	font-style: italic;
	src: url('/fonts/sourcesans-italic.ttf');
}

@font-face {
	font-family: 'Babas Neue';
	src: url('/fonts/babas-neue.ttf');
}

.overhuset {
	background: url('/companies/overhuset_logo.svg');
}

.font-source {
	font-family: 'Open Source Sans';
}

html {
	width: 100dvw;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	@apply font-source;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Babas Neue';
}

.big-o {
	background: #fff url(/assets/big-o.svg) no-repeat 117% -150px;
	background-size: 40%;
}

.half-o {
	background: #bd4d2b url(/assets/half-o.svg);
	background-position: 135% bottom;
	background-repeat: no-repeat;
	background-size: 50%;
}

.page-section {
	@apply flex mx-auto my-12 md:my-24 max-w-8xl px-12 xl:px-0;
}
